{% extends "base.html" %}

{% block title %}Review Detail{% endblock title %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Home" "/reviews" %}
    {% with review.category.id|stringformat:"i" as category_id %}
        {% breadcrumb review.category "/reviews/?category="|add:category_id %}
    {% endwith %}
    {% breadcrumb review.title "." %}

{% endblock %}

{% block content %}
    {% render_breadcrumbs %}

<h2> {{ review.title }}</h2>
<h6>By 
    <a href="{% url 'users:detail' review.author.username %}">
        {% if review.author.name %}
            {{ review.author.name }}
        {% else %}
            {{ review.author.username }}
        {% endif %}
    </a>
</h6>

<br>
{% if review.description %}
    <p> {{ review.description }} </p>
{% endif %}

{% if request.user == review.author or request.user.is_superuser %}
    <a class="btn btn-primary" href="{% url 'reviews:update' review.slug %}" role="button">Edit Review</a>
{% endif %}

{% endblock content %}